@charset "UTF-8";
html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
/* Fonts */
.font-merienda {
    font-family: 'Merienda', cursive;
    font-weight:400;
}
.font-shojumaru {
    font-family: 'Shojumaru', cursive;
    font-weight:400;
}
.font-metamorphous {
    font-family: 'Metamorphous', cursive;
    font-weight:400;
}
.font-ptserif {
    font-family: 'PT Serif', serif;
    font-weight:400;
}
/* General */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.nodecor {
    text-decoration: none;
}
.nointeract {
    user-select: none; 
    pointer-events: none;
}
.center {
    text-align: center;
    width: 100%;
}
/* Splash */
.splash { 
    width: 100%;
    height: 100vh;
}
.splash-background { 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 100vh;
    position:absolute;
    user-select: none;
}
/* .splash-image {} */
.splash-text-container {
    position: absolute;
    bottom: 40px;
    user-select: none;
}
.splash-text {
    color: white;
}
.splash-text:hover {
    color: wheat;
}
.temple-ruins-color:hover {
    color: sandybrown;
}
.cyberpunk-color-cyan:hover {
    color: #0ff;
}
.cyberpunk-color-magenta:hover {
    color: #f0f;
}
.riseagain-title-color:hover {
    color: burlywood;
}
.riseagain-subtitle-color:hover {
    color: tan;;
}
/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    /* Custom */ 
    overflow: hidden;
}
/*  Custom Horizontal Rules */
.custom-hr {
    border: 0;
    height: 60px;
    background-color: #ffffff00;
    background-image: url("/res/img/HorizontalRuler.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    /* Connect to upper section (in the section) */
    z-index: 1;
    position: relative;
    bottom: 0px;
    margin: 0px;
    margin-bottom: -30px;

    /* Ignore Pointer */
    pointer-events: none;

    /* box-shadow: 0 10px 10px -10px #8c8b8b inset; */
}
/* Video */
video {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

/* Shadow Outline(Box) */
.shadow-outline {
    border:1px solid #ffcc00; /* #3a3a3a */
    box-shadow:0 0 3px #ffcc00;
    -moz-box-shadow:0 0 3px #ffcc00;
    -webkit-box-shadow:0 0 3px #ffcc00;
}
/* For Mobile */ 
@media screen and (max-width: 768px) {}
@media screen and (max-width: 1280px) {
    .splash-image {
        height: 100vh;
        max-width: fit-content;
    }
}
/* Horizontal Scrollable Container */
.drag-scroll
{
    overflow: hidden;
    overflow-x: auto;
}