@charset "UTF-8";
html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.font-merienda {
    font-family: 'Merienda', cursive;
    font-weight:400;
}
.font-shojumaru {
    font-family: 'Shojumaru', cursive;
    font-weight:400;
}
.font-metamorphous {
    font-family: 'Metamorphous', cursive;
    font-weight:400;
}
.font-ptserif {
    font-family: 'PT Serif', serif;
    font-weight:400;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.nodecor{
    text-decoration: none;
}
.center {
    text-align: center;
    width: 100%;
}
.splash { 
    width:100%;
    height:100vh;
}
.splash-background { 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 100vh;
    position:absolute;
}
/*Slideshow dots*/
.carousel-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.carousel-active-dot, .carousel-dot:hover {
    background-color: #717171;
}
.carousel-prev, .carousel-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}
.carousel-prev{
    left: 0;
    border-radius: 0 3px 3px 0;
}
.carousel-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* Rotatable card */
.card-front, .card-back { 
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}
/* Drag Scroll */
.drag-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #cccccc;
    border-radius: 4px;
}
.drag-scroll::-webkit-scrollbar-thumb{
    background-color: #B03C3F;
    border-radius: 10px;
}
.drag-scroll::-webkit-scrollbar-thumb:hover{
    background-color: #BF4649;
    border: 1px solid #333333;
}
.drag-scroll::-webkit-scrollbar-thumb:active{
    background-color: #A6393D;
    border: 1px solid #333333;
} 
.drag-scroll::-webkit-scrollbar-track{
    border: 1px gray solid;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 6px gray inset;
    box-shadow: 0 0 6px gray inset;
} 
/*  Custom Horizontal Rules */
.custom-hr {
    border: 0;
    height: 60px;
    background-color: #ffffff00;
    background-image: url("/res/img/HorizontalRuler.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    /* Connect to upper section (in the section) */
    z-index: 1;
    position: relative;
    bottom: 30px;
    margin: 0px;
    
    /* box-shadow: 0 10px 10px -10px #8c8b8b inset; */
}
/* Video */
video {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

/* Shadow Outline(Box) */
.shadow-outline {
    border:1px solid #ffcc00; /* #3a3a3a */
    box-shadow:0 0 3px #ffcc00;
    -moz-box-shadow:0 0 3px #ffcc00;
    -webkit-box-shadow:0 0 3px #ffcc00;
}

/* 
@media screen and (min-width: 768px) {}
@media screen and (min-width: 1280px) {}
*/