@charset "UTF-8";
html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.font-merienda {
    font-family: 'Merienda', cursive;
    font-weight:400;
}
.font-shojumaru {
    font-family: 'Shojumaru', cursive;
    font-weight:400;
}
.font-metamorphous {
    font-family: 'Metamorphous', cursive;
    font-weight:400;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.nodecor{
    text-decoration: none;
}
.center {
    text-align: center;
    width: 100%;
}
.padding-updown {
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.cursor {
    cursor: pointer;
}
.splash { 
    width:100%;
    height:100vh;
}
.splash-background { 
    background-image: url("../res/img/HoWScreenShot.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    width:100%;
    height:100%;
    position:absolute;
}
.splash-area { 
    margin:0;
    position:absolute;
    text-align:center;
    vertical-align: middle;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.splash-logo { 
    margin: 60px;
    width: 60%;
}
.splash-text{
    color: white; 
    font-size: 3rem;
}
/* 
@media screen and (min-width: 768px) {}
@media screen and (min-width: 1280px) {}
*/